

body {
  margin: 0;
  padding-top: 1px; /* Para evitar que o conteúdo fique atrás do header fixo */
}
    .container360 {
      max-width: 1000px;
      margin: 100px auto 50px auto;
      padding: 0 20px;
    }

    .view360 {
      margin-bottom: 50px;
      text-align: center;
    }

    .view360 iframe {
      width: 100%;
      height: 500px;
      border: none;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .view360 p {
      margin-top: 10px;
      font-weight: bold;
      color: #24551d;
    }

    footer {
      background-color: #24551d;
      color: white;
      text-align: center;
      padding: 15px;
    }

    /*_____________________*/

    

.menu-mobile {
  width: 80%;
  max-width: 300px;
  background-color: #cce7f5;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 20px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-mobile.open {
  transform: translateX(0);
}
#fechar-menu {
  background: none;
  border: none;
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
  color: #1a3d5d;
  margin-bottom: 20px;
}
.menu-mobile ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.menu-mobile li {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
.categoriaJogo {
  background-color: #5fa8d3;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.categoriaJogo:hover {
  background-color: #478bb5;
  transform: scale(1.05);
}
.barra {
  width: 100%;
  height: 60px;
  background-color: rgb(36, 85, 29);
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  position: fixed;
  z-index: 99;
}
.voltarbarra p {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 9px;

 
}
.hamburguerbarra {
  position: fixed;
  top: -1px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hamburguerbarra p{
  font-size: 20px;
  margin-top: 12px;
  margin-right: 7px;
  
}
.hamburguerbarra img {
  width: 40px;
  cursor: pointer;
}
.menu-mobile {
  width: 80%;
  max-width: 300px;
  background-color: #eaf4ec;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 20px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-mobile.open {
  transform: translateX(0);
}
#fechar-menu {
  background: none;
  border: none;
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
  color: #1a3d5d;
  margin-bottom: 20px;
}
.menu-mobile ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.menu-mobile li {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
.submenu {
  padding-left: 10px;
  margin-top: 5px;
  padding-left: 15px;
}

.oculto {
  display: none;
}
.categoriaJogo {
  background-color: rgb(36, 85, 29);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.categoriaJogo:hover {
  background-color: rgb(72, 131, 64);
  transform: scale(1.05);
}
